/* Root container */
#root {
  width: 94.5rem;
  height: 61.375rem;
  padding-left: 4.56rem;
  padding-top: 2.94rem;
  position: relative;
}

/* Application Home */
.appHome {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 12.9rem;
  flex-shrink: 0;
  width: 83.125rem;
  height: 50.0625rem;
}

/* Header */
header {
  display: inline-flex;
  align-items: flex-end;
  gap: 3.5625rem;
}

/* Navigation Bar */
ul.NavBar {
  display: flex;
  align-items: flex-start;
  gap: 3.5625rem;
}

/* Featured Section */
ul.featured {
  display: flexbox;
  flex-direction: row;
}

ul.topics{
  display: flex;
width: 67.3125rem;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 1.625rem;
margin: 3rem


}

/* Link Styles */
li a {
  text-decoration: none;
  color: #4E4E4E;
  font-family: Inter;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* Red Container Home */
div.redContainer_home {
  flex: 1;
  margin-left: 15rem;
  display: flex;
  width: auto;
  max-height: 2.13rem;
  padding: 0.625rem;
  justify-self: center;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  background: #E8372D;
}

div.redContainer {

  display: flex;
  width: auto;
  max-height: 2.13rem;
  padding: 0.625rem;
  justify-self: center;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  background: #E8372D;
  color: #FFF;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* Headings */
h1 {
  color: #FFF;
  font-family: Inter;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

h2.headline {
  color: #333;
  font-family: Inter;
  font-size: 1.25rem;
  font-style: italic;
  font-weight: 500;
  line-height: normal;
}

h3.likeCount {
  color: #4E4E4E;
  font-family: Inter;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  
}

h3.topicTag {
  width: 83.125rem;
  height: 2.5rem;
  flex-shrink: 0;
  color: #4E4E4E;
  font-family: Inter;
  font-size: 1.25rem;
  font-style: italic;
  font-weight: 500;
  line-height: normal;
  text-align: right;
}

h3.topicSlug {
  display: flex;
width: 31.1875rem;
padding: 0.625rem;
justify-content: center;
align-items: center;
gap: 0.625rem;
background: #F5F5F5;
color: #000;
font-family: Inter;
font-size: 1.25rem;
font-style: normal;
font-weight: 600;
line-height: normal;


}
h3.topicDesc {
  display: flex;
width: 31.1875rem;
padding: 0.625rem;
justify-content:baseline;
align-items: center;
gap: 0.625rem;

color: #7f7f7f;
font-family: Inter;
font-size: 1rem;
font-style: normal;
font-weight: 600;
line-height: normal;


}

Link.noUnderline{
  text-decoration: none;
}


/* Article Picture */
.articlePic {
  max-width: 10.4375rem;
  max-height: 8.25rem;
  border-radius: 1.6875rem;
}

/* Article */
article {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 4.5625rem;
}

.articlePreview {
  gap: 0.3125rem;
  display: flex;
  flex-direction: column;
  padding-right: 0rem;
  margin-right: 0rem;
}

/* Paragraph Styles */
p.body {
  background-color: rgb(245, 245, 245);
  color: #4E4E4E;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

p.author {
  color: #6C6C6C;
  font-family: Inter;
  font-size: 1.25rem;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

p.author_open {
  color: #6C6C6C;
  font-family: Inter;
  font-size: 1rem;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  margin-bottom: .5rem;

}

p.articleText{
  padding: .7rem;
  background-color: #f4f4f4;
  white-space: pre-wrap;
}
p.comment{
  
  
  padding: .7rem;
  background-color: #f4f4f4;
  white-space: pre-wrap;
  display: flex;
width: 100%
padding: 0.625rem;
height: auto;
min-height: 4rem;
align-items: center;
gap: 0.625rem;
}

p.likeCount{

  color: #4E4E4E;
  font-family: Inter;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: .5rem;
}


/* Like Frame */
div.likeFrame {
  margin-left: 77.5rem;
  display: inline-flex;
  align-items: center;
  margin-top: -1.5rem;
}

div.articleBox{
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
  
}

div.likeInfo{

  margin-top: 1rem;
  display:flex;
  flex-direction: row;
  align-items: center;
  align-self: flex-end;
  justify-content: end;

}
div.likeInfo_comment{

  display:flex;
  flex-direction: row;
  /* align-items: end; */
  align-content: center;
  align-self: center;
  align-items: center;
  
}

div.commentInfo {
  display: flex;
  align-items: flex-start;
  /* gap: 33.0625rem; */
  justify-content: space-between;
}

div.yourCommentBox{
  margin-top: 3rem;
  
  width:100%;
}

div.userComments{


  margin-top: 3rem;
}

/* Main Sections */
main {
  margin-top: 1rem;
}

main.home {
  display: flexbox;
  flex: row;
}

main.openedArticle {
  margin-top: 5rem;
  
  width: 70rem;
height: 103.0625rem;
flex-shrink: 0;
}

main.topics {
  display: flex;
width: 83.125rem;
height: 50.0625rem;
padding: 0rem 1.375rem 24.75rem 12rem;
flex-direction: column;
align-items: flex-start;
gap: 4.1875rem;
flex-shrink: 0;

}


img.articleThumb {

  width: 2rem;
  height: auto;
  max-height: 2rem;
  display: block;

}

img.voteComment{
  max-width: 2rem;
  max-height: 2rem;

}

form.yourComment {
display: flex;
flex-direction:column;
align-items: flex-end;
gap: 1.875rem;
width: 100%;

}

textarea.yourComment {

  margin-top: 1rem;
  display: flex;
  justify-content:flex-start;
  padding-top: 1rem;
  padding-left: 1rem;
  width:99.8%;
  height: 6.6875rem;
 
  border-radius: 0.75rem;
  
border: .2rem solid #D0D0D0;

}

button.yourComment{
margin-top: -1rem;
  display: flex;
width: 14.75rem;
padding: 0.625rem;
justify-content: center;
align-items: center;
gap: 0.625rem;
background: #ADADAD;


color: #FFF;

font-family: Inter;
font-size: 1rem;
font-style: normal;
font-weight: 600;
line-height: normal;
}

li.comment{
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid rgba(194, 194, 194, 0.726)
}

li.topics{
  display: flex;
align-items: center;

}


div.articleximg{

  align-items: start;
  gap: 1rem;
  display: flex;
  flex-direction: row;

}

img.articleOpened{
  width: 40%;
  height: auto;
  object-fit: contain;
}

div.textXvote{


}